* {
    font-family: "Inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin: unset;
    padding: unset;
    border: unset;

    box-sizing: border-box;
    list-style: none;
}

header {
    padding: 12px 60px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 56px;
}

.jumbotron {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 65px 52px;
    height: 500px;

    background-image: url(/assets/imagen\ jumbotron.jpg);
    background-size: cover;
}

.jumbotron h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
}

.jumbotron p {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
}

.tarjeta {
    width: 450.67px;
    height: 539px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
}

.tarjeta__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.tarjeta__container__price {
    size: 18px;
    font-weight: 700;
}

.tarjeta__img {
    width: 100%;
}

.tarjeta__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.tarjeta__titulo {
    font-size: 16px;
}

.tarjeta__descripcion {
    font-size: 12px;
    opacity: .6;
}

.categorias {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    display: flex;
    flex-direction: column;
    background-image: url(/assets/section.jpg);
    background-size: cover;
    height: 659px;
    gap: 55px;
    align-items: center;
}

.categorias__titulo {
    font-size: 56px;
    font-weight: 800;
    color: white;
}

.categorias__tarjetas {
    display: flex;
    gap: 90px;
    justify-content: space-between;
}

.categorias__tarjetas__componente {
    align-items: center;
}

.categorias__tarjetas__img {
    border-radius: 10px;
    width: 100%;
}

.categorias__tarjetas__titulo {
    color: white;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 43px 60px;
    gap: 40px;
}

.contenido__titulo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: start;
}

.contenido {
    font-size: 19px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contenido__li {
    font-size: 16px;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contenido__img {
    display: flex;
    gap: 6px;
}


